nav{
  max-width: 100vw;
}


body {
  background-color: rgb(211, 211, 211);
  font-family: "Inter", sans-serif;
}

.wrap{
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: flex-start;
}

.sidebar{
  background-image: linear-gradient(to bottom, #4E7FCB, #78A6EC);
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 100vh;
}

.sidebar-top{
  display: flex;
  flex-direction: row;
}

.sair{
  margin-left: 250px;
  background-image: url('./static/images/sair.png');
  background-position: center;
}

#sair{
  margin-top: 25px;
  background-color: #4E7FCB;
  border: none;
}

.menu-wrap{
  padding-left: 35px;
  padding-right: 35px;
}

.button-and-icon{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sidebar-item{
  background-color: transparent;
  border: none;
  color: #fffe;
  font-weight: 400px;
  font-size: 18px;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 10px;
  /* padding: 10px;   */
}

table, th, td {
  border: 1px solid;
}

.logo{
  height: 88px;
  width: 128px;
  margin: 0 50px;
  padding: 40px;
  padding-top: 0;
  padding-bottom: 20;
  border-bottom: 1.5px solid #78A6EC;
}

.logo-wrap{
  width: 200px;
  margin-bottom: 20px;
}

.subitems{
  display: flex;
  flex-direction: column;
  margin-left: 75px;
  margin-bottom: 10px;
  color: #fffe;
  border-left: 1px solid #fffe;
  padding: 10px ;
  text-decoration: none;
}

.subitem{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
  padding: 3px;
}

a{
  text-decoration: none;
}

.icons{
  margin-right: 20px;
}

.button-and-icon{
  display: flex;
  justify-content: left;
  padding-left: 20px;
}

.button-and-icon:hover{  
  background-color: #78A6EC;
  color: #fffe;
}

a:visited { 
  text-decoration: none;
  color: #fffe; 
 }

 #section2{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  
 }

#home-wrap{
  align-items: center;
  background-color: #fffe;
  max-width: 100vmax;
  width: 83vw;
  height: 3em;
}

#home{
  text-decoration: none;
  color: #4e7fcb;
  font-size: 35px;
  font-weight: bold;
  margin-left: 10px;
}

/* Essa estilização fica reservada para a parte do home

.conteudo-wrap{
  background-image: url("../static/images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
} */

.conteudo{
  margin-left: 1vw;
}

/*tratando as imagens de logo*/
.icons{
  height: 30px;
  width: 30px;
  padding: 0px;
  
}
