<!doctype html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link href="{% static '/navBar.css' %}" rel="stylesheet">
  <script src="{% static '/scripts.js' %}"></script>
  <title>PetPlanet</title>
</head>

<body>
  <nav>
    <span>
      <a href="{% url 'home' %}">Home</a> -
      <a href="{% url 'cadastrarCliente' %}">Cad Cliente</a> -
      <a href="{% url 'listarClientes' %}">List Cliente</a> -
      <a href="{% url 'cadastrarPet' %}">Cad Pet</a> -
      <a href="{% url 'listarPets' %}">List Pet</a> -
      <a href="{% url 'cadastrarFuncionario' %}">Cad Func</a> -
      <a href="{% url 'listarFuncionarios' %}">List Func</a> -
      <a href="{% url 'cadastrarProduto' %}">Cad Prod</a> -
      <a href="{% url 'listarProdutos' %}">List Prod</a> -
      <a href="{% url 'gerarServico' %}">Gerar serv</a> -
      <a href="{% url 'listarAgenda' %}">Agenda de serv</a> -
      <a href="{% url 'novaVenda' %}">Venda</a> -
      <a>Histórico vendas</a>
    </span>
  </nav>
  {% block conteudo %}
  {% endblock %}
</body>

</html>