<!doctype html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link href="{% static '/navBar.css' %}" rel="stylesheet">
  <script src="{% static '/scripts.js' %}"></script>
  <link href="{% static 'https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap' %}" rel="stylesheet"/>
  <title>PetPlanet</title>
</head>

<body>
  <nav>
    <div class="wrap">
      
        <section>
          <div class="sidebar">
            {%load static%} <img class="logo" src = "{% static 'C:\Users\lilin\.vscode\engenhariaDeSoftware\projetoPetPlanet\static\images\logo.png'%}">
            <button class='sidebar-item' id="funcionario">Funcionário</button>
              <div class = 'subitems'>
                <div class = 'subitem' id="cad-func">
                  <a href="{% url 'cadastrarFuncionario' %}">Cadastrar</a>
                </div>
                <div class = 'subitem' id="list-func">
                  <a href="{% url 'listarFuncionarios' %}">Listar</a>
                </div>
              </div>
            <button class='sidebar-item' id="cliente">Cliente</button>
              <div class = 'subitems'>
                <div class = 'subitem' id="cad-func">
                  <a href="{% url 'cadastrarCliente' %}">Cadastrar</a>
                </div>
                <div class = 'subitem' id="list-func">
                  <a href="{% url 'listarClientes' %}">Listar</a>
                </div>
              </div>
            <button class='sidebar-item' id="pet">Pet</button>
              <div class = 'subitems'>
                <div class = 'subitem' id="cad-func">
                  <a href="{% url 'cadastrarPet' %}">Cadastrar</a>
                </div>
                <div class = 'subitem' id="list-func">
                  <a href="{% url 'listarPets' %}">Listar</a>
                </div>
              </div>
            <button class='sidebar-item' id="produto">Produto</button>
              <div class = 'subitems'>
                <div class = 'subitem' id="cad-func">
                  <a href="{% url 'cadastrarPet' %}">Cadastrar</a>
                </div>
                <div class = 'subitem' id="list-func">
                  <a href="{% url 'listarProdutos' %}">Listar</a>
                </div>
              </div>
            <button class='sidebar-item' id="servicos">Serviços</button>
              <div class = 'subitems'>
                <div class = 'subitem' id="cad-func">
                  <a href="{% url 'gerarServico' %}">Gerar Serviço</a>
                </div>
                <div class = 'subitem' id="list-func">
                  <a href="{% url 'listarAgenda' %}">Agenda</a>
                </div>
              </div>
            <button class='sidebar-item' id="venda">Venda</button>
          </div>
      
      
        </section>
          <a href="{% url 'home' %}">Home</a>
           -
           -
           -
           -
         
           -
           -
           -
           -
          <a href="{% url 'novaVenda' %}">Venda</a> -
          <a>Histórico vendas</a>
        <section>
      </span>

      </section>
    </div>
    
  </nav>
  {% block conteudo %}
  {% endblock %}
</body>

</html>
