{% extends 'navBar.html' %}
{% block conteudo %}
<form action="{% url 'salvarNovoFuncionarioNoDB' %}" method="post">
    {% csrf_token %}
    <div class="container">
        <h1>Cadastar Funcionário</h1>
        Nome <input name="nome" type="text" value="{{ nomeCliente }}"><br>
        E-mail <input name="email" type="email" value="{{ emailCliente }}"><br>
        CPF <input name="cpf" type="text" value="{{ cpfCliente }}"><br>
        Telefone <input name="telefone" type="text" value="{{ telefoneCliente }}"><br>
        Endereço <input name="endereco" type="text" value="{{ enderecoCompletoCliente }}"><br>
        Cargo <input name="cargo" type="text" value="{{ cargo }}"><br>
        Salário <input name="salario" type="text" value="{{ salario }}"><br>
        <button>Cadastrar</button>
    </div>
</form>
<form action=" {% url 'preencherDadosFuncionario' %}">
    <button>Preencher automaticamente</button>
</form>
{% endblock %}