{% extends 'navBar.html' %}
{% block conteudo %}
<form action="{% url 'salvarNovoFuncionarioNoDB' %}" method="post">
    {% csrf_token %}

    <div class="container">

        {% comment %} TÍTULO {% endcomment %}
        <div class="titulo">
            <h1>Cadastro de Funcinário</h1>
        </div>
        
        <div class="conteudo">

            {% comment %} 'div' para o nome {% endcomment %}
            <div class="campo-nome">
                <div> <label for="nome">Nome</label> </div>
                <div> 
                    <input id="nome" name="nome" type="text" placeholder=" Nome Completo" value="{{ nomeCliente }}"><br>
                </div>
            </div>
            {% comment %} 'vid' para o CPF {% endcomment %}
            <div class="campo-cpf"> 
                <div><label for="cpf">CPF</label> </label> </div>
                <div>
                    <input id="cpf" name="cpf" type="text" placeholder=" CPF" value="{{ cpfCliente }}"><br>
                </div>
            </div>


                
            {% comment %} 'div' para o email {% endcomment %}
            <div class="campo-email">
                <div><label for="email">E-mail</label> </div>
                <div>
                    <input id="email" name="email" type="text" placeholder=" E-mail" value="{{ emailCliente }}"><br>
                </div>
            </div>
            {% comment %} 'div' para o Telefone {% endcomment %}
            <div class="campo-telefone">
                <div><label for="telefone">Telefone</label> </div>
                <div>
                    <input id="telefone" name="telefone" type="text" placeholder=" Telefone" value="{{ telefoneCliente }}"><br>
                </div>
            </div>



            {% comment %} 'div' para o Endereço {% endcomment %}
            <div class="campo-endereço">
                <div><label for="endereço">Endereço</label> </div>
                <div>
                    <input id="endereço" name="endereco" type="text" placeholder=" Endereço" value="{{ enderecoCompletoCliente }}"><br>
                </div>
            </div>



            {% comment %} 'div' para o Cargo {% endcomment %}
            <div class="campo-cargo">
                <div><label for="cargo">Cargo</label> </div>
                <div>
                    <input id="cargo" name="cargo" type="text" placeholder=" Cargo" value="{{ cargo }}"><br>
                </div>
            </div>
            {% comment %} 'div' para o Salário {% endcomment %}
            <div class="campo-salario">
                <div><label for="salario">Salário</label> </div>
                <div>
                    <input id="salario" name="salario" type="text" placeholder=" Salário" value="{{ salario }}"><br>
                </div>
            </div>

        </div>
        
        <button class="botao-padrao">Salvar</button>
    </div>

</form>
<form action=" {% url 'preencherDadosFuncionario' %}">
    <button class="botao-automatico">Preencher automaticamente</button>
</form>

{% endblock %}