{% extends 'navBar.html' %}
{% block conteudo %}
<script>
    /*function buscaProdutoEFiltraCategoria() {
        var inputProduto, inputCategoria, filtroProduto, filtroCategoria, table, tr, td, i, j, visible;
        inputProduto = document.getElementById("buscaProduto");
        inputCategoria = document.getElementById("selectCategoria");
        filtroProduto = inputProduto.value.toUpperCase();
        filtroCategoria = inputCategoria.value.toUpperCase();
        table = document.getElementById("tableProdutos");
        tr = table.getElementsByTagName("tr");

        for (i = 1; i < tr.length; i++) {
            visible = false;
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j] && (td[j].innerHTML.toUpperCase().indexOf(filtroProduto) > -1 || td[j].innerHTML.toUpperCase().indexOf(filtroCategoria) > -1)) {
                    visible = true;
                }
            }
            if (visible === true) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }*/

    function buscaProduto() {
        var entradaBusca, filtro, table, tr, td, i, j, visibilidade;
        entradaBusca = document.getElementById("buscaProduto");
        filtro = entradaBusca.value.toUpperCase();
        table = document.getElementById("tableProdutos");
        tr = document.getElementById("tableProdutos").getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            visibilidade = false;
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j] && td[j].innerHTML.toUpperCase().indexOf(filtro) > -1) {
                    visibilidade = true;
                }
            }
            if (visibilidade === true) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }

    function filtrarCategoria() {
        var entradaBusca, filtro, table, tr, td, i, j, visibilidade;
        entradaBusca = document.getElementById("selectCategoria");
        filtro = entradaBusca.value.toUpperCase();
        console.log(filtro);
        table = document.getElementById("tableProdutos");
        tr = document.getElementById("tableProdutos").getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            visibilidade = false;
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j] && td[j].innerHTML.toUpperCase().indexOf(filtro) > -1) {
                    visibilidade = true;
                }
            }
            if (visibilidade === true) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }

    function limparFiltros() {
        document.getElementById("buscaProduto").value = "";
        document.getElementById("selectCategoria").value = "";
        table = document.getElementById("tableProdutos");
        tr = document.getElementById("tableProdutos").getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "";
        }
    }
</script>

<div class="container-lista">

    {% comment %} TÍTULO {% endcomment %}
    <div class="titulo-tabela">
        <h1>Lista de Produtos</h1>
    </div>

    {% comment %} CONTEÚDO {% endcomment %}
    <div class="conteudo-tabela">
        
        {% comment %} BUSCA {% endcomment %}
        <input type="text" id="buscaProduto" onkeyup="buscaProduto();" placeholder="Buscar Produto...">

        {% comment %} SELECIONAR CATEGORIA {% endcomment %}
        <div class="categoria-de-produto">
            <label for="selectCategoria">Categoria</label>
            <select id="selectCategoria" type="text" onchange="filtrarCategoria()">
                <option type="input" value="">Filtrar categoria...</option>
                <option type="input" value="produto">Produto</option>
                <option type="input" value="serviços">Serviços</option>
            </select><br><br>
        </div>

        <a onclick="limparFiltros()">Limpar filtros</a>
        <br>

        <table id="tableProdutos" class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Estoque</th>
                <th>Validade</th>
                <th>Categoria</th>
                <th>Editar</th>
            </tr>
            {% for produto in produtos %}
            <tr>
                <td>{{produto.id_produto}}</td>
                <td>{{produto.nome}}</td>
                <td>{{produto.preco}}</td>
                <td>{{produto.estoque}}</td>
                <td>{{produto.validade}}</td>
                <td>{{produto.categoria}}</td>
                <td><a href="{% url 'infoProduto' %}{{produto.id_produto}}">Editar</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}