{% extends 'navBar.html' %}
{% block conteudo %}
<script>
    function buscaPet() {
        var entradaBusca, filtro, table, tr, td, i, j, visibilidade;
        entradaBusca = document.getElementById("buscaPet");
        filtro = entradaBusca.value.toUpperCase();
        table = document.getElementById("tablePets");
        tr = document.getElementById("tablePets").getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            visibilidade = false;
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j] && td[j].innerHTML.toUpperCase().indexOf(filtro) > -1) {
                    visibilidade = true;
                }
            }
            if (visibilidade === true) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
</script>

<div class="container-lista">

    {% comment %} TÍTULO {% endcomment %}
    <div class="titulo-tabela">
        <h1>Lista de Pets</h1>
    </div>

    {% comment %} CONTEÚDO DA TELA {% endcomment %}
    <div class="conteudo-tabela">

        {% comment %} BUSCA {% endcomment %}
        <input type="text" id="buscaPet" onkeyup="buscaPet()" placeholder="Buscar Pet...">    
        <table id="tablePets" class="table table-bordered table-striped">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Espécie</th>
                <th>Raça</th>
                <th>Idade</th>
                <th>Sexo</th>
                <th>Porte</th>
                <th>Alergias</th>
                <th>ID Dono</th>
                <th>Editar</th>
            </tr>
            {% for pet in pets %}
            <tr>
                <td>{{pet.id_pet}}</td>
                <td>{{pet.nome}}</td>
                <td>{{pet.especie}}</td>
                <td>{{pet.raca}}</td>
                <td>{{pet.idade}}</td>
                <td>{{pet.sexo}}</td>
                <td>{{pet.porte}}</td>
                <td>{{pet.alergias}}</td>
                <td>{{pet.id_dono}}</td>
                <td><a href="{% url 'infoPet' %}{{pet.id_pet}}">Editar</a></td>
            </tr>
    
            {% endfor %}
        </table>

    </div>

</div>

{% endblock %}