{% extends 'cliente/navBar.html' %}
{% block conteudo %}
<form action="{% url 'salvarNovoClienteNoBD' %}" method="post">
  {% csrf_token %}
    <div class="container">
        <h1>Cadastar Cliente</h1>
        Nome <input name="nome" type="text"><br>
        E-mail <input name="email" type="email"><br>
        CPF <input name="cpf" type="text"><br>
        Telefone <input name="telefone" type="text"><br>
        Endereço <input name="endereco" type="text"><br>
        <button>Cadastrar</button>
    </div>
</form>
{% endblock %}