{% extends 'navBar.html' %}
{% block conteudo %}
<form action="{% url 'editarClienteNoDB' %}{{cliente.id_cliente}}" method="post">
    {% csrf_token %}

    <div class="container-info">

            {% comment %} TÍTULO {% endcomment %}
        <div class="titulo-tabela">
            <h1>ID: {{ cliente.id_cliente }}</h1><br>
        </div>        

        
        <div class="conteudo-info">

            <div>
                <div>Nome:</div>
                <input name="nome" type="text" value="{{ cliente.nome }}"><br>
            </div>
            <div>
                <div>CPF:</div>
                <input name="cpf" type="text" value="{{ cliente.cpf }}"><br>
            </div>
            <div>
                <div>Telefone:</div>
                <input name="telefone" type="text" value="{{ cliente.telefone }}"><br>
            </div>
            <div>
                <div>E-mail:</div>
                <input name="email" type="email" value="{{ cliente.email }}"><br>
            </div>
            <div>
                <div>Endereço:</div>
                <input name="endereco" type="text" value="{{ cliente.endereco }}"><br>
            </div>
        </div>

        <div class="tabela-info">
            <div>Pets:<br></div>
            <div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Espécie</th>
                        <th>Raça</th>
                        <th>Idade</th>
                        <th>Sexo</th>
                        <th>Porte</th>
                        <th>Alergias</th>
                        <th>Excluir</th>
                    </tr>
                    {% for pet in pets %}
                    <tr>
                        <td>{{pet.id_pet}}</td>
                        <td>{{pet.nome}}</td>
                        <td>{{pet.especie}}</td>
                        <td>{{pet.raca}}</td>
                        <td>{{pet.idade}}</td>
                        <td>{{pet.sexo}}</td>
                        <td>{{pet.porte}}</td>
                        <td>{{pet.alergias}}</td>
                        <td><a href="{% url 'excluirPetDB' %}{{ pet.id_pet }}">Excluir</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            
        </div>

    </div>

    <button class="botao-padrao">Salvar</button>
    
</form>
<div class="botao-excluir">
    <a href="{% url 'excluirClienteDoBD' %}{{ cliente.id_cliente }}">Excluir</a></div>
{% endblock %}