{% extends 'cliente/paginaBase.html' %}
{% block conteudo %}
<div class="container">
  <h1>Listagem de Clientes</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Endereço</th>
        </tr>
        {% for cliente in clientes %}
        <tr>
            <td>{{cliente.id_cliente}}</td>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.telefone}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.endereco}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}