{% extends 'navBar.html' %}
{% block conteudo %}

<div class="container-info">

    {% comment %} TÍTULO {% endcomment %}
    <div class="titulo-info">
        <h1>Detalhe Venda ID: <a id="idVenda">{{venda.id_venda}}</a></h1>
    </div>
    
    <div class="conteudo-info-vendas">        
        
                <div>
                    <div>Cliente:</div>
                    <input value="{{venda.cliente_id}}" disabled><br><br>
                </div>
                <div>
                    <div>Vendedor:</div>
                    <input value="{{venda.vendedor_id}}" disabled><br><br>
                </div>
                <div>
                    <div>Forma de Pagamento:</div>
                    <input value="{{venda.formaDePagamento}}" disabled><br><br>
                </div>
                <div>
                    <div>Data e Hora:</div>
                    <input value="{{venda.datahora}}" disabled><br><br>
                </div>
        
    </div>
   
    <div class="tabela-vendas">
        <div>
            <div>Itens:</div>
            <table id="tableItens">
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Preço Total</th>
            </table><br><br>
        </div>
    </div>
          
    <div class="valor-total-venda">Valor Total: R$ <a id="valorTotal">{{venda.total}}</a></div>
    
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var idVenda = document.getElementById('idVenda').innerText;
        fetch('getListaProdutos/' + idVenda)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(itens => {
                var table = document.getElementById('tableItens');
                for (var i = 0; i < itens.length; i++) {
                    var row = table.insertRow(-1);
                    var cell1 = row.insertCell(0);
                    var cell2 = row.insertCell(1);
                    var cell3 = row.insertCell(2);
                    var cell4 = row.insertCell(3);
                    var cell5 = row.insertCell(4);
                    cell1.innerHTML = itens[i].id;
                    cell2.innerHTML = itens[i].nome;
                    cell3.innerHTML = itens[i].preco;
                    cell4.innerHTML = itens[i].quantidade;
                    cell5.innerHTML = itens[i].precoTotal;
                }
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    });
</script>
{% endblock %}