{% extends 'navBar.html' %}
{% block conteudo %}
<h1>Lista de Vendas</h1>

<div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Data e Hora</th>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Forma de Pagamento</th>
            <th>Detalhes</th>
        </tr>
        {% for venda in vendas %}
        <tr>
            <td>{{ venda.id_venda }}</td>
            <td>{{ venda.datahora }}</td>
            <td>{{ venda.cliente_id }}</td>
            <td>{{ venda.vendedor_id }}</td>
            <td>{{ venda.formaDePagamento }}</td>
            <td><a href="{% url 'detalhesVenda' %}{{venda.id_venda}}">Detalhes</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}