{% extends 'navBar.html' %}
{% block conteudo %}

<div>
    <h1>PDV - Nova Venda</h1>

    Cliente
    <select>
        {% for cliente in clientes %}
        <option>{{cliente.id_cliente}} - {{cliente.nome}}</option>
        {% endfor %}
    </select><br><br><br><br>

    Produto
    <select name="produtos" onchange="attPrecos(document.querySelector('select[name=produtos]').value)">
        {% for produto in produtos %}
        <option value="{{produto.id_produto}}">{{produto.id_produto}} - {{produto.nome}}</option>
        {% endfor %}
    </select><br><br>

    Preço do produto: R$ <a id="precoProduto">0</a><br><br>

    Quantidade <input id="inputQuantidade" name="quantidade" type="number" value="1"
        onchange="attPrecos(document.querySelector('select[name=produtos]').value)"></input><br><br>

    Preço Total: R$ <a id="precoProdutoTotal">0</a><br><br>

    <button onclick="addProdutoALista(document.querySelector('select[name=produtos]').value)">Add Item</button>

    <br><br>
    <table id="tabelaPDV" name="listaDeItens">
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Preço Total</th>
        <th>Excluir</th>
    </table>


    <br><br><br>
    Vendedor
    <select name="funcionarios">
        {% for funcionario in funcionarios %}
        <option value="{{funcionario.id_funcionario}}">{{funcionario.id_funcionario}} - {{funcionario.nome}}
        </option>
        {% endfor %}
    </select><br>

    Forma de Pagamento
    <select name="formaDePagamento">
        <option>Dinheiro</option>
        <option>Cartão</option>
        <option>PIX</option>
    </select><br>

    <button>Concluir Venda</button>
</div>

{% endblock %}