<!doctype html>
<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <script src="{% static '/scriptsVenda.js' %}"></script>
  <link rel="icon" href="{% static '/images/favicon.png' %}" type="image/png">
  <link href="{% static '/navBar.css' %}" rel="stylesheet">
  <link href="{% static '/cadastrar.css'%}" rel="stylesheet">
  <!--Link de estilização da fonte INTER, segundo o protótipo-->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet" />
  <title>PetPlanet</title>
</head>

<body>
  <nav>
    <div class="wrap">

      <section id='section1'>
        <div class="sidebar">
          <div class=" logo-wrap">
            <img class="logo" src="{% static '/images/logo.png' %}">
          </div>
          <div class="menu-wrap">
            <div class="items funcionario">
              <div class="button-and-icon funcionario">
                <img class="icons" id="logo-func" src="{% static '/images/logo-funcionario.png' %}">
                <button type='button' class='sidebar-item' id="funcionario">Funcionário</button>
              </div>
              <div class='subitems funcionario'>
                <div class='subitem' id="cad-func">
                  <a href="{% url 'cadastrarFuncionario' %}">Cadastrar</a>
                </div>
                <div class='subitem' id="list-func">
                  <a href="{% url 'listarFuncionarios' %}">Listar</a>
                </div>
              </div>
            </div>
            <div class="items cliente">
              <div class="button-and-icon cliente">
                <img class="icons" id="logo-cliente" src="{% static '/images/logo-cliente.png' %}">
                <button type='button' class='sidebar-item' id="cliente">Cliente</button>
              </div>
              <div class='subitems'>
                <div class='subitem' id="cad-cli">
                  <a href="{% url 'cadastrarCliente' %}">Cadastrar</a>
                </div>
                <div class='subitem' id="list-cli">
                  <a href="{% url 'listarClientes' %}">Listar</a>
                </div>
              </div>
            </div>
            <div class="items pet">
              <div class="button-and-icon pet">
                <img class="icons" id="logo-pet" src="{% static '/images/logo-pet.png' %}">
                <button type='button' class='sidebar-item' id="pet">Pet</button>
              </div>
              <div class='subitems'>
                <div class='subitem' id="cad-pet">
                  <a href="{% url 'cadastrarPet' %}">Cadastrar</a>
                </div>
                <div class='subitem' id="list-pet">
                  <a href="{% url 'listarPets' %}">Listar</a>
                </div>
              </div>
            </div>
            <div class="items produtos">
              <div class="button-and-icon produtos">
                <img class="icons" id="logo-produto" src="{% static '/images/logo-produtos.png' %}">
                <button type='button' class='sidebar-item' id="produto">Produto</button>
              </div>
              <div class='subitems'>
                <div class='subitem' id="cad-prod">
                  <a href="{% url 'cadastrarProduto' %}">Cadastrar</a>
                </div>
                <div class='subitem' id="list-prod">
                  <a href="{% url 'listarProdutos' %}">Listar</a>
                </div>
              </div>
            </div>
            <div class="items servicos">
              <div class="button-and-icon servicos">
                <img class="icons" id="logo-servicos" src="{% static '/images/logo-servicos.png' %}">
                <button type='button' class='sidebar-item' id="servicos">Serviços</button>
              </div>
              <div class='subitems'>
                <div class='subitem' id="gerar-serv">
                  <a href="{% url 'gerarServico' %}">Gerar Serviço</a>
                </div>
                <div class='subitem' id="agenda">
                  <a href="{% url 'listarAgenda' %}">Agenda</a>
                </div>
              </div>
            </div>
            <div class="items venda">
              <div class="button-and-icon venda">
                <img class="icons" id="logo-venda" src="{% static '/images/logo-venda.png' %}">
                <button type='button' class='sidebar-item' id="venda">Venda</button>
              </div>
              <div class='subitems'>
                <div class='subitem' id="nova-venda">
                  <a href="{% url 'novaVenda' %}">Nova Venda</a>
                </div>
                <div class='subitem' id="hist-venda">
                  <a href="{% url 'listarVendas' %}">Histórico de vendas</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
      <section id="section2">
        <div id="home-wrap">
          <a href="{% url 'home' %}"><img src="{% static '/images/home-icon.svg' %}" class='icons' id='home-icon'
              alt="home" /></a>
          <a id="home" href="{% url 'home' %}">Tela Inicial</a>
        </div>
        <div class="conteudo-wrap">
          <div class="conteudo">
            {% block conteudo %}
            {% endblock %}
          </div>
        </div>
      </section>
    </div>

  </nav>

</body>

</html>